table {
	border-color: black;
	font-family: Century Gothic;
	padding: 5px;


}
td, th {
  padding: 10px;
  width: 150px;
}
h1 {
	font-family: Century Gothic;
	
	color: mediumpurple;
}

body{
	background-color: lightseagreen;
}

	
#bttn {
  background-color: mediumpurple;
  font-size: 12px;
}

.btn-container {
  text-align: center;
}
.header{
  text-align: center;
}
.signup{
  margin-left: auto;
  margin-right: auto;
}