.navbar {
  overflow: hidden;
  background-color: #ecc6ec;
  border-bottom: 2px solid black;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Garamond, serif
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: Garamond, serif;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #b3b3e6;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #b3b3e6;
}

.dropdown:hover .dropdown-content {
  display: block;
}







#container{
	width: 90%;
	margin: 10 px auto;
	background-color: #f9ecf9;
	color: #333;
	border: 2px solid black;
	line-height: 130%;
}

#top{
	padding: .5em;
	background-color: #ccb3e6;
	border-bottom: 2px solid black;
	text-align: center;
	font-family: Garamond, serif;
}
#top h1{
	padding: 0;
	margin: 0;
}

#leftnav{
	float: left;
	width: 160px;
	margin: 0;
	padding: .5em;
	font-family: Garamond, serif;
}

#rightnav{
	float: right;
	width: 160px;
	margin: 0;
	padding: 2em;
	font-family: Garamond, serif;
}

#content{
	margin-left: 200px;
	
	margin-right: 200px;
	
	padding: 1em;
	max-width: 36em;
	font-family: Garamond, serif;
}
#footer{
	clear: both;
	margin: 0;
	padding: .5em;
	color: #333;
	background-color: #ccb3e6;
	border-top: 2px solid black;
	text-align: center;
	font-family: Garamond, serif;
}

#leftnav p, #rightnav p { margin: 0 0 1em 0; }
#content h2 { margin: 0 0 .5em 0; }